body{
    margin:0;
    font-family: 'Reggae One';
}

body p{
    text-align: justify;
}

body a{
    text-decoration: none;
}

body button {
    background-color: rgb(32, 68, 32);
    color: rgb(235, 166, 37);
    border-radius: 5px;
}

body button:hover{
    background-color: rgb(87, 155, 87);
}

#header{
    padding-top: 20px;
    text-align: center;
  
}

#header h1{
    color:black;
    
}

#header h1:hover{
    color: rgb(32, 68, 32);
}

#header p{
    font-size: 12px;
    padding-bottom: 50px;
    text-align: center;
}

#biker-container{
    position: relative;
    text-align: left;
    width: 90vw;
    height: 30px;
}

#biker{
    position: absolute;
    width: 55px;
    height: 55px;
    padding-left: 270px;
    animation: run 4s linear;
}

@keyframes run {
    0% {left:0vw;}
    50%{left: 28vw;}
    100%{left: 57vw;}
}

#border-top{
    border: 1px solid grey; 
    width: 60%;
    align-items: center;
}

#main h2{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 25px;
}

#main p{
    font-size: 10px;
}

#para-margins{
    padding-left: 250px;
    padding-right: 250px;
}
#footer{
    background-color: silver;
    height: 400px;
}

#footer h2{
    padding-top: 75px;
    text-align: center;
 
}

#footer p{
    font-size: 10px;
}

#footer-content-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 250px;
    padding-right: 250px;
}

input:hover{
    background-color:cornsilk
} 

textarea:hover{
    background-color: cornsilk;
}

#message-box-wrapper{
    padding-top: 15px;
    padding-bottom: 10px;   
}

#message-box{
    height: 75px;
    width: 300px;
}

#submit-button{
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}
/* Was having some problems with the end of the page, setting the height of this ID to 40px fixed that */
#icon-wrap{
    display:flex;
    flex-direction: row;
    height: 40px;
}

#icon-left{ 
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 3fr;
} 

#icon-right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#icon-right p{
    padding-bottom: 17px;
}

#social-icons{
    display: inline-block;
    height:20px;
    width: 20px;
    padding: .5em;
}

#icon-left #social-icons{
    padding-bottom: 20px;

}
/* --------Used padding to make the email address align with the Icon, probably a better way but this works---------- */
#phone{
    padding-bottom: 25px;
}






